//Mobile breakpoint (main)
@media (max-width: 1050px) {
  main {
    flex-direction: column;
    height: 60%;
    width: 100%;
    align-items: center;

    .fylo,
    .balance {
      flex: 0 1 auto;
      width: 33rem;
    }

    .fylo {
      margin-right: 0;
      margin-bottom: 2rem;
    }

    .balance {
      .info {
        text-align: center;
      }
      .tooltip {
        top: 12rem;
        left: 50%;
        transform: translate(-50%, 0);

        &::after {
          display: none;
        }
      }
    }
  }
  #bg {
    background-image: url("../../assets/images/bg-mobile.svg");
    height: 100%;
    top: 0;
    &::after,
    &::before {
      display: none;
    }
  }
}

//for very small devices

@media (max-width: 374px) {
  main .fylo,
  main .balance {
    width: 90%;
  }
}

//Only for background
@media (min-width: 2311px) {
  #bg::before {
    width: 61rem;
    height: 61rem;
    border-top-left-radius: 32%;
  }
}

//scaling

@media (min-width: 1051px) and (max-height: 278px) {
  main {
    transform: translate(-50%, -50%) scale(0.9);
  }
}

@media (min-width: 1051px) and (max-height: 240px) {
  main {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

@media (min-width: 1051px) and (max-height: 216px) {
  main {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

@media (max-width: 311px) {
  main {
    transform: translate(-50%, -50%) scale(0.9);
    .fylo,
    .balance {
      width: 115%;
    }
  }
}

@media (max-width: 307px) {
  main {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

@media (max-width: 260px) {
  main {
    transform: translate(-50%, -50%) scale(0.7);
    .fylo,
    .balance {
      width: 125%;
    }
  }
}

@media (max-width: 1050px) and (max-height: 505px) {
  main {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

@media (max-width: 1050px) and (max-height: 422px) {
  main {
    transform: translate(-50%, -50%) scale(0.7);
  }
}

@media (max-width: 1050px) and (max-height: 376px) {
  main {
    transform: translate(-50%, -50%) scale(0.6);
  }
}

@media (max-width: 1050px) and (max-height: 333px) {
  main {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

//info font-size
@media (max-width: 347px) {
  main .balance .info {
    font-size: 1.3rem;
  }
}

@media (max-width: 327px) {
  main .balance .info {
    font-size: 1rem;
    transform: scale(1.2);
  }
}
